body {
	font-family: 'Open Sans';
	font-weight: 600;
}

#zk-document-header {
	position: relative;
	z-index: 100;
	min-width: 960px !important;
}

/* Nav styling */
.navbar {
	margin-bottom: 0;
}

.navbar-default {
	background-color: #ffffff;
	height: 55px;
	border-bottom: 1px solid #e0e0e0;
	width: 100%;
}

.container {
	width: 100%;
}

.navbar-default .navbar-nav>li>a {
	color: #0c8cb5;
}
 .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color: #e54618;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	color: #e54618;
	background-color: transparent;
}

.nav > li > a {
	padding: 17.5px 20px;
}

/* ZK logo area */
.navbar-brand {
	background-color: #0c8cb5;
	height: 54px;
	width: 67px;
	margin-top: -1px;
 }
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
	background-color: #0c8cb5;
}
.navbar-brand > div {
	background: url("../images/zk-logo.svg") no-repeat;
	vertical-align: middle;
	border: 0;
	height: 100%;
	width: 100%;
}
.navbar > .container-fluid .navbar-brand {
	margin-left: -1px;
}

/* Submenu dropdown stlying */
.dropdown-menu {
  border: 1px solid #e0e0e0;
}

.dropdown-menu > li > a {
	color: #0c8cb5;
	font-weight: 600;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
	color: #e54618;
}
.dropdown-menu .divider {
	margin: 7px 0;
}

/* Toggle menu styling */
.navbar-default .navbar-toggle {
	border-color: transparent;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	border-color: transparent;
    background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #0c8cb5;
}
.navbar-toggle .icon-bar {
	width: 24px;
	height: 3px;
}
.navbar-toggle .icon-bar+.icon-bar {
	margin-top: 5px;
}

.navbar-nav > li > .dropdown-menu {
  margin-top: -2px;
}

/* hack */
.book .book-header h1 {
	padding: 0;
}
/* bootstrap alert */
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2
}

.close:focus,.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5
}